<section id="author">
    <div class=" cotainer px-4mx-auto my-32 text-center">
        <h1 class=" text-violet-950 font-extrabold text-3xl py-3" >Lorem ipsum dolor sit amet consectetur  suscipit. Non ad distinctio </h1>
        <h1 class=" space-y-2 max-w-5xl mx-auto text-violet-800">ipsum dolor sit amet consectetur adipisicing quidem magni suscipit. Non ad distinctio </h1>
        <h1 class=" space-y-2 max-w-5xl text-violet-800 mx-auto">ipsum dolor sit amet consectetur adipisicing quidem magni suscipit. Non ad distinctio ipsum dolor sit amet consectetur adipisicing quidem magni suscipit. Non ad distinctio </h1>
        <img src.bind="team" alt="team"class="w-1/2 mx-auto ">
       
        <h1 class="font-bold text-4xl text-violet-950 py-4">“Best practices” don’t actually work.</h1>
        <p class=" mt-8 max-w-5xl mx-auto leading-5 text-sm  text-violet-800">I’ve written a few thousand words on why traditional 
            “semantic class names” are the reason CSS is hard to maintain, but the truth is 
            you’re never going to believe me until you actually try it. If you can suppress 
            the urge to retch long enough to give it a chance,
             I really think you’ll wonder how you ever worked with CSS any other way.</p>
        <div class="mt-10 flex flex-col space-x-0 space-y-5 md:flex-row  md:space-x-8 md:space-y-0">

            <div class="md:w-1/3 flex flex-col items-center p-6 space-y-2 rounded-lg border border-slate-200 shadow-xl ring-gray-50 bg-slate-100">
                <img src.bind="jung" alt="Adam " class="w-1/2 rounded-full shadow-lg shadow-fuchsia-950 -mt-12">
                <h5 class=" font-bold text-lg text-violet-950">Adam Wathan</h5>
                <p class="leading-5 text-sm  text-violet-800">elitr, sed diam  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>

            </div>

            <div class="md:w-1/3 flex flex-col items-center p-6 space-y-2 rounded-lg border border-slate-200 shadow-xl ring-gray-50 bg-slate-100">
                <img src.bind="mann" alt="Adam " class="w-1/2 rounded-full shadow-lg shadow-fuchsia-950 -mt-12">
                <h5 class=" font-bold text-lg text-violet-950">Marcel Khalifa</h5>
                <p class="leading-5 text-sm  text-violet-800">Lorem ipsum dolor sit amet, consetetur
                     sadipscing elitr, sed diam nonumy 
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                     At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>

            </div>

            <div class="md:w-1/3 flex flex-col items-center p-6 space-y-2 rounded-lg border border-slate-200 shadow-xl ring-gray-50 bg-slate-100">
                <img src.bind="frau" alt="Adam " class="w-1/2 rounded-full shadow-lg shadow-fuchsia-950 -mt-12">
                <h5 class=" font-bold text-lg text-violet-950">Medelina Bauer</h5>
                <p class="leading-5 text-sm  text-violet-800"> dolor
                     sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                      et dolore magna aliquyam erat, sed diam voluptua.
                     At vero eos et accusam et justo duo dolores et ea rebum.</p>

            </div>
            
        </div>
    </div>
</section>
